<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991408913014-ce6mrg28cd4preamn1v54unudvaqdv2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991408913014-ce6mrg28cd4preamn1v54unudvaqdv2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCOSRWJyOd_1CZDoA3HjeByLatmrL_iAbo</string>
	<key>GCM_SENDER_ID</key>
	<string>991408913014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habitual.ecommerce.project.app</string>
	<key>PROJECT_ID</key>
	<string>habitual-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>habitual-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991408913014:ios:fa3bb7b8bfc3d887fc3d57</string>
</dict>
</plist>